<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading title-panel">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <p> Guantanamo </p>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-7 algerie">
            <div id="myCarousel" class="carousel slide contain-algerie" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item">
                  <%= image_tag '483107_545351215478721_1035559962_n.jpg' %>
                </div>
                <div class="item active">
                  <%= image_tag '532433_558682204145622_387132424_n.jpg' %>
                </div>
                <div class="item">
                  <%= image_tag '602535_545351242145385_562402137_n.jpg' %>
                </div>
                <div class="item">
                  <%= image_tag '533684_545351255478717_937296361_n.jpg' %>
                </div>
                <div class="item">
                  <%= image_tag 'paint10.jpg' %>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
          </div> 
          <div class="col-md-4 container-guantanamo">
            <h2><span class="text-muted">GUANTANAMO</span></h2>
            <p>Denoncer le statut des prisonniers. tel est le but de cette série d'oeuvres. Unique au monde, les prisonniers de Guantanamo ne disposent d'aucun statut. En effet, l'administration américaine refuse de les considerer comme prisonniers. Par conséquent, ni jugement ni procès...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading title-panel">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <p> Florilège </p>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
         <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 algerie">
                <div id="myCarousel" class="carousel slide contain-algerie" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item">
                      <%= image_tag '482937_545350322145477_320839335_n.jpg' %>
                    </div>
                    <div class="item active">
                      <%= image_tag '484968_545351145478728_1983670210_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '485111_545350345478808_451273702_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '532433_558682204145622_387132424_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '536300_545350395478803_825537143_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '599068_545350352145474_361328086_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '602303_545351565478686_1947376753_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '644044_545350375478805_1446459184_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '417038_545351498812026_25823296_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag '485010_545351295478713_1320869729_n.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'dessin1.JPG' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'dessin2.JPG' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'dessin3.JPG' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'dessin4.JPG' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'dessin5.JPG' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint1.JPG' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint2.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint3.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint6.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint5.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint7.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint8.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint9.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint11.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint13.jpg' %>
                    </div>
                    <div class="item">
                      <%= image_tag 'paint12.jpg' %>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div> 
              <div class="col-md-4 container-guantanamo">
              <h2><span class="text-muted texte-divers-">Découvrez ici un florilège de mes autres oeuvres peintes</span></h2>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

