<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <p> La femme voilée dans la boîte </p>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <div class="row gallery1">
        <div class="col-md-12 container box voile-text">
         <p>J'ai voulu exprimé l'enfermement de la femme musulmane dans la société française par les lois discriminantes et d’exceptions faites spécifiquement pour elles, les privant de leurs droits les plus élémentaires à l'instruction, à l'éducation et à la circulation. Aujourd'hui ce matraquage politico- médiatique à dés-inhibée certains au point de passer à l'acte en les agressant. Ces femmes ont peur de sortir dehors. Et tout cela aux regards de tous, d’où la symbolique de la boite transparente... Le propre d'un artiste est de choquer, intriguer et d'interpeller le spectateur pour le pousser à la réflexion et l'amener là ou il veut l'amener.
          En tant que femme et musulmane de surcroît, je suis révoltée par le silence des féministes qui aujourd'hui je positionnent à la droite du pouvoir contre d'autres femmes, car elles ont le malheur de ne pas penser comme elles. Elles ont trahis le féminisme, qui était avant tous la défense des femmes qu'elle quelles soit face à l'oppression et la discrimination. Ces femmes ont le droit de disposer de leurs corp comme les autres. C'est un non sens que de dire qu'au nom du feminisme, on combat la femme voilée, en la poussant à rester chez elle, et pour son bien en plus. C'est cette injustice qui m'a poussé à réagir.</P>
          <iframe src="//player.vimeo.com/video/80196474" width="490" height="275" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>    
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading title-panel">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <p> Portraits du monde </p>
      </a>
    </h4>
  </div>
  <div class="row perf1">
    <div id="collapseTwo" class="panel-collapse collapse">
     <div class="col-md-11 portrait">
      <div id="myCarousel" class="carousel slide contain-monde" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <%= image_tag 'portrait1.jpg' %>
          </div>
          <div class="item active">
            <%= image_tag 'portrait2.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait3.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait4.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait5.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait6.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait7.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait8.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait9.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait10.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait11.jpg' %>
          </div>
          <div class="item">
            <%= image_tag 'portrait12.jpg' %>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <p class="text-monde"> Voici une série de portraits que j'ai réalisé au cours de mes nombreux voyages. A travers leur regard, leur sourire, leurs rides, chaque personne nous transmet son histoire, son parcours et toute la diversité du genre humain.</p>
    </div> 
  </div>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading title-panel">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <p> Femme en bleu </p>
      </a>
    </div>
    <div class="row perf1">
      <div id="collapseThree" class="panel-collapse collapse">
       <div class="col-md-12 portrait">
        <div id="myCarousel" class="carousel slide contain-bleu" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner femme-bleue">
            <div class="item">
              <%= image_tag 'photo3.jpg' %>
            </div>
            <div class="item active">
              <%= image_tag 'photo4.jpg' %>
            </div>
            <div class="item">
              <%= image_tag 'photo5.jpg' %>
            </div>
            <div class="item">
              <%= image_tag 'photo8.jpg' %>
            </div>
            <div class="item">
              <%= image_tag 'photo9.jpg' %>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <p class="text-bleu"> Voici une série de portraits que j'ai réalisé au cours de mes nombreux voyages. A travers leur regard, leur sourire, leurs rides, chaque personne nous transmet son histoire, son parcours et toute la diversité du genre humain.</p>
      </div> 
    </div>
  </div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading title-panel">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <p> Femmes algériennes et dévoilement </p>
      </a>
    </div>
    <div class="row perf1">
      <div id="collapseFour" class="panel-collapse collapse">
       <div class="col-md-12 portrait">
        <div id="myCarousel" class="carousel slide contain-algerie" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner femme-bleue">
            <div class="item">
              <%= image_tag 'DSC_0071.JPG' %>
            </div>
            <div class="item active">
              <%= image_tag 'DSC_0072.JPG' %>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <p class="text-portrait">En 1960, Marc Garanger lors de son service militaire en Algérie, prend des photos de villageois Algériens sous la demande de l'armée française.</br>
        "C’est le visage des femmes qui m’a beaucoup impressionné. Elles n’avaient pas le choix. Ces femmes algériennes qui devaient alors baisser leur voile devant l'objectif, une terrible mise à nu des visages, au mépris de toutes leurs traditions, ce qui traduit toute la violence du colonialisme. J'ai reçu leur regard à bout portant, premier témoin de leur protestation muette, violente."</br>
        "A travers ce détournement, j’ai voulu leur redonner cette dignité volée en les recouvrant du voile qu’on leur avait enlevé si violemment et en leur donnant la parole avec les mots de Djamila Amrane, une des rares femmes à avoir témoigné sur les sévices fait aux femmes durant la guerre."</p>
      </div> 
    </div>
  </div>
</div>
</div>
</div>